@use "./util" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'league Spartan';
  font-weight: 700;
}

body {
  transition: background-color .3s;
  min-height: 100dvh;
  background-color: var(--main-bg);
  padding: 25px;
  @include df(center, center, column, 10px);
}

main {
  max-width: 95dvw;
  background-color: inherit;
  @include df(normal, normal, column, 20px);
}

.header {
  @include df(space-between, center, row, 10px);
  h1 {
    color: var(--heading-color);
  }
  .theme {
    @include df(space-between, center, row, 25px);
    label {
      text-transform: uppercase;
      color: var(--heading-color);
      font-size: 13px;
      font-weight: 700;
      transform: translateY(50%);
    }
    &__input {
      @include df(normal, normal, column, 5px);
      .steps {
        @include df(space-between, center, row, 10px);
        color: var(--heading-color);
        font-size: 13px;
        font-weight: 700;
        &:first-of-type {
          margin-left: 10px;
        }
        &:last-of-type {
          margin-right: 10px;
        }
      }
      #range-input {
        appearance: none;
        width: 80px;
        height: 30px;
        outline: none;
        background-color: var(--keypad-bg);
        border-radius: 50px;
        &::-webkit-slider-thumb {
          appearance: none;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: 5px solid var(--keypad-bg);
          background-color: var(--equal-key-bg);
          // transition: all .3s;
        }
      }
    }
  }
}

.number__input {
  color: var(--heading-color);
  font-size: 3rem;
  background-color: var(--screen-bg);
  border: none;
  border-radius: 10px;
  text-align: right;
  outline: none;
  font-weight: 700;
  padding: 20px;
  @media (min-width: $tab) {
    padding: 30px;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.keyboard {
  background-color: var(--keypad-bg);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(30px, 100px));
  grid-template-areas: 
    "seven eight nine del"
    "four five six plus"
    "one two three minus"
    "point zero slash times"
    "reset reset equal equal"
  ;
  padding: 25px;
  gap: 15px;
  text-transform: uppercase;
  @media (min-width: $tab) {
    padding: 30px;
    gap: 25px;
  }
  >* {
    @include df(center, center);
    border-radius: 10px;
    padding: 20px;
    background-color: var(--key-bg);
    font-size: clamp(32px, 5dvw, 2.5rem);
    font-weight: 700;
    color: var(--key-color);
    border-bottom: 5px solid var(--key-shadow);
    &.pressed {
      transform: scale(1.05);
    }
    &:hover {
      transform: scale(1.05);
    }
  }
  .one {
    grid-area: one;
  }
  .two {
    grid-area: two;
  }
  .three {
    grid-area: three;
  }
  .four {
    grid-area: four;
  }
  .five {
    grid-area: five;
  }
  .six {
    grid-area: six;
  }
  .seven {
    grid-area: seven;
  }
  .eight {
    grid-area: eight;
  }
  .nine {
    grid-area: nine;
  }
  .zero {
    grid-area: zero;
  }
  .plus {
    grid-area: plus;
  }
  .minus {
    grid-area: minus;
  }
  .multi {
    grid-area: times;
  }
  .divide {
    grid-area: slash;
  }
  .delete {
    grid-area: del;
    color: var(--del-key-color);
    background-color: var(--del-key-bg);
    border-color: var(--del-key-shadow);
  }
  .reset {
    grid-area: reset;
    color:  var(--del-key-color);
    background-color: var(--del-key-bg);
    border-color: var(--del-key-shadow);
  }
  .equal-to {
    grid-area: equal;
    color: var(--equal-key-color);
    background-color: var(--equal-key-bg);
    border-color: var(--equal-key-shadow);
  }
}

.attribution {
  color: #fff;
  font-size: 11px;
  text-align: center;
  a {
   color: var(--keypad-bg);
   text-decoration: none;
   border-bottom: 2px solid;
 }
}