

$mobile: 375px;
$tab: 750px;

@mixin df($j:normal, $a:normal, $fl:row, $g:0) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-flow: $fl;
  gap: $g;
}

@font-face {
  font-family: 'League Spartan';
  src: url('./font/League-Spartan-Variable.ttf');
}