
:root {
  //----- Colors-----//

  &.theme1 {
    // Backgrounds
    --main-bg : hsl(222, 26%, 31%);//(main background)
    --keypad-bg : hsl(223, 31%, 20%);//(toggle background, keypad background)
    --screen-bg : hsl(224, 36%, 15%);//(screen background)
    
    // Keys
    --del-key-bg : hsl(225, 21%, 49%);//(key background)
    --del-key-shadow : hsl(224, 28%, 35%);//(key shadow)
    
    --equal-key-bg : hsl(6, 63%, 50%);//(key background, toggle)
    --equal-key-shadow : hsl(6, 70%, 34%);//(key shadow)
    
    --key-bg : hsl(0, 0%, 90%);//(key background)
    --key-shadow : hsl(28, 16%, 65%);//(key shadow)
    
    // Text
    --heading-color: #fff;
    --key-color: hsl(221, 14%, 31%);
    --equal-key-color: hsl(0, 100%, 100%);
    --del-key-color: hsl(0, 100%, 100%);
  }
  
  &.theme2 {
    // Backgrounds
    --main-bg : hsl(0, 0%, 90%);//(main background)
    --keypad-bg : hsl(0, 5%, 81%);//(toggle background, keypad background)
    --screen-bg : hsl(0, 0%, 93%);//(screen background)
    
    // Keys
    --del-key-bg : hsl(185, 42%, 37%);//(key background)
    --del-key-shadow : hsl(185, 58%, 25%);//(key shadow)
    
    --equal-key-bg : hsl(25, 98%, 40%);//(key background, toggle)
    --equal-key-shadow: hsl(25, 99%, 27%);//(key shadow)
    
    --key-bg : hsl(0, 0%, 90%);//(key background)
    --key-shadow : hsl(35, 11%, 61%);//(key shadow)
    
    // Text
    --heading-color: hsl(60, 10%, 19%);
    --key-color: var(--heading-color);
    --equal-key-color: hsl(0, 100%, 100%);
    --del-key-color: hsl(0, 100%, 100%);//(text)
  }

  &.theme3 {
    // Backgrounds
    --main-bg : hsl(268, 75%, 9%);//(main background)
    --keypad-bg : hsl(268, 71%, 12%);//(toggle background, keypad background, screen background)
    --screen-bg : var(var(--keyboard-bg));
    
    // Keys
    --del-key-bg : hsl(281, 89%, 26%);//(key background)
    --del-key-shadow: hsl(285, 91%, 52%);//(key shadow)
    
    --equal-key-bg : hsl(176, 100%, 44%);//(key background, toggle)
    --equal-key-shadow: hsl(177, 92%, 70%);//(key shadow)
    
    --key-bg : hsl(268, 47%, 21%);//(key background)
    --key-shadow: hsl(290, 70%, 36%);//(key shadow)
    
    // Text
    --heading-color: hsl(52, 100%, 62%);
    --key-color: var(--heading-color);
    --equal-key-color: hsl(198, 20%, 13%);
    --del-key-color : hsl(0, 100%, 100%);//(text)
  }
  
  // Typography
  // Body Copy
  --font-size-num : 32px;//(numbers)
}
// :root {
//   //----- Colors-----//

//   & {

//     // Theme 1
//     // Backgrounds
    
//     --navy-850 : hsl(222, 26%, 31%);//(main background)
//     --navy-900 : hsl(223, 31%, 20%);//(toggle background, keypad background)
//     --navy-950 : hsl(224, 36%, 15%);//(screen background)
    
//     // Keys
//     --navy-700 : hsl(225, 21%, 49%);//(key background)
//     --navy-800 : hsl(224, 28%, 35%);//(key shadow)
    
//     --red-600 : hsl(6, 63%, 50%);//(key background, toggle)
//     --red-800 : hsl(6, 70%, 34%);//(key shadow)
    
//     --gray-200 : hsl(0, 0%, 90%);//(key background)
//     --gray-orange-400 : hsl(28, 16%, 65%);//(key shadow)
    
//     // Text
//     --navy-750: hsl(221, 14%, 31%);
//     --white: hsl(0, 100%, 100%);
//   }
  
//   & {

//     // Theme 2 
//     // Backgrounds
//     --gray-200 : hsl(0, 0%, 90%);//(main background)
//     --gray-300 : hsl(0, 5%, 81%);//(toggle background, keypad background)
//     --gray-100 : hsl(0, 0%, 93%);//(screen background)
    
//     // Keys
//     --blue-500 : hsl(185, 42%, 37%);//(key background)
//     --blue-600 : hsl(185, 58%, 25%);//(key shadow)
    
//     --orange-700 : hsl(25, 98%, 40%);//(key background, toggle)
//     --orange-800: hsl(25, 99%, 27%);//(key shadow)
    
//     --grey-200 : hsl(0, 0%, 90%);//(key background)
//     --grey-orange-450 : hsl(35, 11%, 61%);//(key shadow)
    
//     // Text
//     --gray-900: hsl(60, 10%, 19%);
//     --white: hsl(0, 100%, 100%);//(text)
//   }
  

//   & {

//     // Theme 3 
    
//     // Backgrounds
    
//     --purple-950 : hsl(268, 75%, 9%);//(main background)
//     --purple-900 : hsl(268, 71%, 12%);//(toggle background, keypad background, screen background)
    
//     // Keys
//     --purple-800 : hsl(281, 89%, 26%);//(key background)
//     --purple-400: hsl(285, 91%, 52%);//(key shadow)
    
//     --cyan-500 : hsl(176, 100%, 44%);//(key background, toggle)
//     --cyan-400: hsl(177, 92%, 70%);//(key shadow)
    
//     --purple-850 : hsl(268, 47%, 21%);//(key background)
//     --purple-750: hsl(290, 70%, 36%);//(key shadow)
    
//     // Text
//     --yellow-300: hsl(52, 100%, 62%);
//     --blue-950: hsl(198, 20%, 13%);
//     --white : hsl(0, 100%, 100%);//(text)
//   }
  
//   // Typography //
//   // Body Copy
//   --font-size-num : 32px;//(numbers)


//   // Switching Variables
//   --calc-bg: var(--navy-800);
//   --bg: var(--navy-950);
//   --input-bg: var(--navy-950);
//   --num-bg-color: var(--nav-700);
//   --del-button: ;
//   --equal-button: ;
//   --num-color-border: ;
//   --keyboard-bg: var(--navy-900);
// }